<!DOCTYPE html>
<html class="overflow-x-hidden" lang="{{ Culture.Name }}">
<head class="min-h-screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{% page_title Site.SiteName, position: "before", separator: " - " %}</title>
    
    {% resources type: "Meta" %}

    <link rel="stylesheet" href="/Lucavice.TailwindTheme/assets/dist/css/lucavice.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/darcula.min.css">

    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% resources type: "HeadScript" %}
</head>

<body class="bg-gradient-to-t from-gray-50 to-blue-50 min-h-screen overflow-x-hidden" dir="{{ Culture.Dir }}">

    {% shape "Menu", alias: "alias:main-menu" %}

    {% render_body %}
    
    <footer>
    {% render_section "Footer", required: false %}
    </footer>
    
    {% resources type: "FootScript" %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    
</body>
</html>