<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
<head>
    <meta charset="utf-8">
    <title>{% page_title Site.SiteName, position: "before", separator: " - " %}</title>
    
    {% resources type: "Meta" %}

    <link rel="stylesheet" href="/lucavice-tailwind-theme/assets/dist/css/lucavice.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% resources type: "HeadScript" %}
</head>
<body class="bg-gradient-to-t from-gray-50 to-blue-50" dir="{{ Culture.Dir }}">

    {% shape "Menu", alias: "alias:main-menu", cache_id: "main-menu", cache_tag: "alias:main-menu" %}

    {% render_body %}
    
    <footer>
    {% render_section "Footer", required: false %}
    </footer>
    
    {% resources type: "FootScript" %}
</body>
</html>