<div class="bg-gray-50 flex justify-center shadow">
    <div class="px-5 py-1 flex justify-start w-full xl:w-2/5 lg:w-3/5 lg:max-w-screen-lg">
        {% for item in Model.Items %}
        {{ item | shape_render }}
    {% endfor %}
    </div>
</div>